


.ui-header .ui-title,
.ui-footer .ui-title,
.ui-btn-inner *
{
    white-space: normal !important;
}

.photo
{
    display: block;
    margin: 0px auto;
}

dl.informations dt
{
    font-weight: bold;
}

#Map
{
    width: 100%;
    height: 600px;
}


body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #2c3e50;
    color: #fff;
    font-family: sans-serif;
}

header {
    text-transform: uppercase;
    float: left;
    clear: both;
    font-size: 1.6em;
}



a {
    color: lightblue;
}

#LoginPage {
    z-index: 30;
    display: none;
}

#Call {
    display: none;
    z-index: 20;
}

#



#Main {
    display: none;
    z-index: 10;
    position: relative;

}

#otherServices {
    display: none;
    z-index: 10;
}

#chat {
    display: none;
    z-index: 20;
}

#chat button {
    width: 45%;
    margin-left: 2%;
    float: left;
    clear: none;
}

input[type="text"] {
    width: 90%;
    height: 3em;
    margin: 1em auto;
    float: left;
    clear: both;

    font-size: 1.2em;
    padding: 0;

    text-align: center;
    font-weight: bold;

    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    float: left;
    clear: both;
}

label {
    float: left;
}

button {
    clear: both;
    width: 90%;
    height: 3em;
    float: left;
    margin: 0.8em auto;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #7f8c8d;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 2px 0px #333;
}

span {
    margin: 0 auto;
    text-align: center;
    padding-left: 4em;
}